.earnPointsContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Units-24, 24px);
}
.earnPointsContentSection {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--Units-24, 24px);
}

.earnPointsContentHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Units-10, 10px);
  justify-content: space-between;
  align-self: stretch;
}
.earnPointsContentHeaderText {
  color: var(--Mine-Shaft-925, #181818);
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  /* border: 1px solid red; */
}

.earnPointsContentHeaderDescription {
  color: var(--Text-Secondary, #535353);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.earnPointsContentRepublishAppButton {
  display: flex;
  height: var(--Units-32, 32px);
  padding: var(--Units-6, 6px) var(--Units-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Units-4, 4px);
  border-radius: var(--border-radius-radius-1, 6px);
  border: 1px solid var(--Mine-Shaft-100, #e2e2e2);
  background: #fff;

  color: var(--Button-Text-Secondary, #535353);
  text-align: center;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
}

.rewardsProgramContainerRewardPointsContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--16, 16px);
  align-self: stretch;
  /* border: 1px solid red; */
}

.rewardsProgramContainerRewardPointsItem {
  display: flex;
  width: 100%;
  padding: 5px var(--Units-10, 10px);
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--Mine-Shaft-200, #c9c9c9);
  background: #fff;
}
.rewardsProgramContainerRewardPointsItemSection {
  display: flex;
  width: 100%;
  gap: var(--Units-20, 20px);
  padding: var(--Units-10, 10px);
  align-items: center;
  align-items: flex-start;
}
.rewardsProgramContainerRewardPointsItemImage {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 8px;
}
.rewardsProgramContainerRewardPointsItemText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

.rewardsProgramContainerRewardPointsItemText h2 {
  color: var(--Text-Primary, #181818);
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.rewardsProgramContainerRewardPointsItemText p {
  color: var(--Text-Secondary, #535353);
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.rewardsProgramContainerRewardPointsItemActions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: var(--16, 16px);
}
.rewardsProgramContainerRewardPointsItemActionsButton {
  display: flex;
  width: 61px;
  padding: var(--Units-4, 4px) var(--Units-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Border-Radius-radius0, 4px);
  border-radius: var(--border-radius-radius-7, 100px);
  border: 1px solid var(--Border-Success, #0dc268);
  background: var(--Background-Success, #c2f0d9);

  color: var(--Text-Primary, #181818);
  text-align: center;
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.rewardsProgramContainerRewardPointsItemXPButton {
  display: flex;
  width: 70px;
  /* border: 1px solid red; */
  padding: var(--Units-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Units-4, 4px);
  border-radius: var(--border-radius-radius-1, 6px);
  color: var(--Button-Text-Secondary, #535353);
  text-align: center;

  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
.rewardsProgramContainerRewardPointsItemEdit {
  display: flex;
  padding: var(--Units-8, 8px) var(--Units-12, 12px);
  justify-content: center;
  align-items: center;
  gap: var(--Units-4, 4px);
  border-radius: var(--border-radius-radius-1, 6px);
  border: var(--Units-0, 1px) solid var(--Mine-Shaft-100, #e2e2e2);
}

.rewardsProgramContentStatusBadge.active {
  display: flex;
  width: 61px;
  padding: var(--Units-4, 4px) var(--Units-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Border-Radius-radius0, 4px);
  border-radius: var(--border-radius-radius-7, 100px);
  border: 1px solid var(--Border-Success, #0dc268);
  background: var(--Background-Success, #c2f0d9);
}
.rewardsProgramContentStatusBadge.inactive {
  display: flex;
  width: 61px;
  padding: var(--Units-4, 4px) var(--Units-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Border-Radius-radius0, 4px);
  border-radius: var(--border-radius-radius-7, 100px);
  border: 1px solid var(--Border-Error, #f57189);
  background: var(--Background-Error, #fed8df);
}
.toggleSwitch {
  width: 45px;
  height: var(--Units-24, 24px);
  border-radius: var(--Units-20, 20px);
  /* background: var(
    --button-strokegrey,
    linear-gradient(85deg, #535353 1.44%, #3e3e3e 99.78%)
  ); */
  position: relative;
  cursor: pointer;
}
.switchCircle {
  width: 18px;
  height: 18px;
  border-radius: var(--Units-20, 20px);
  background: #fff;
  position: absolute;
  top: 3px;
  transition: all 0.3s ease;
}

.switchOn {
  left: 24px;
  background: #fff;
}

.switchOff {
  left: 2px;
  background: #fff;
}

.referralsPointsContentHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Units-10, 10px);
  justify-content: space-between;
  align-self: stretch;
}
.referralsPointsContentHeaderText {
  color: var(--Mine-Shaft-925, #181818);
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.4px;
  /* border: 1px solid red; */
}

.referralsPointsContentHeaderDescription {
  color: var(--Text-Secondary, #535353);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.referralFormContent {
  display: flex;
  width: 100%;
  /* width: 593px; */
  padding: var(--Units-16, 16px);
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
  gap: var(--Units-20, 20px);
  border-radius: 12px;
  border: 1px solid var(--Mine-Shaft-200, #c9c9c9);
  background: #fff;
}

.referralFormContent form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: var(--12, 12px);
  /* align-self: stretch; */
  width: 100%;
  /* border: 1px solid red; */
}
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Units-8, 8px);
  align-self: stretch;
  /* border: 1px solid red; */
}

.formGroup label {
  display: flex;
  align-items: center;
  gap: var(--Units-4, 4px);
  align-self: stretch;
  color: var(--Text-Secondary, #535353);
  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.formGroup input {
  display: flex;
  padding: var(--8, 8px) var(--Units-12, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Units-4, 4px);
  align-self: stretch;
  border-radius: var(--border-radius-radius-2, 8px);
  border: 1px solid var(--Mine-Shaft-100, #e2e2e2);
  background: var(--Background-Secondary, #fafafa);
  overflow: hidden;

  color: var(--Text-Tertiary, #696969);
  text-overflow: ellipsis;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.active {
  border-radius: var(--border-radius-radius-1, 6px);
  border: 1.5px solid var(--button-strokegrey, #535353);
}

.formGroupContent {
  display: flex;
  align-items: flex-start;
  gap: var(--Units-16, 16px);
  align-self: stretch;
}

.earningPointsInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Units-4, 4px);
  flex: 1 0 0;
}
.earningPointsInput label {
  color: var(--Text-Secondary, #535353);

  font-family: Figtree;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.earningPointsInput .inputGroup {
  display: flex;
  padding: var(--8, 8px) var(--Units-12, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Units-4, 4px);
  align-self: stretch;
  border-radius: var(--border-radius-radius-2, 8px);
  border: 1px solid var(--Mine-Shaft-100, #e2e2e2);
  background: var(--Background-Secondary, #fafafa);
  /* border: 1px solid red; */
}
.earningPointsInput .inputGroup input {
  border: none;
  outline: none;
  background: transparent;
  overflow: hidden;
  color: var(--Text-Tertiary, #696969);
  text-overflow: ellipsis;
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  width: 100%;
}

.referralContainerFilterMenu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--4, 4px);
  align-self: stretch;
}
.referralContainerFilterMenuRadio {
  display: flex;
  align-items: center;
  gap: var(--8, 8px);
  /* border: 1px solid red; */
  justify-content: center;
}
.referralContainerFilterMenuRadioLabel {
  display: flex;
  padding: var(--Units-6, 6px);
  align-items: center;
  gap: var(--4, 8px);
  border-radius: var(--border-radius-radius-1, 6px);
}

.referralContainerFilterMenuRadio input {
  width: 14px;
  height: 14px;
  cursor: pointer;
  display: flex;
  margin-top: 9px;
  align-items: center;
  justify-content: center;
}

.formGroup .referralContainerFilterMenuRadio label {
  cursor: pointer;
  color: var(--Text-Tertiary, #696969);
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.formActions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--Units-20, 20px);
}